@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-space), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}

body {
  overscroll-behavior: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text-stroke {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

.text-stroke:hover {
  -webkit-text-stroke: 1px currentColor;
  color: currentColor;
}
